
.App { 
  display: grid; 
  grid-template-columns: 2fr 3fr; 
  gap: 0.5em;
  width: 600px;
} 

.map { 
  grid-column-start: 2; 
  grid-column-end: 3; 
  grid-row-start: 1; 
  grid-row-end: 15; 
}

.App {
  border-radius: 5px;
  background-color: #fffde6;
}

.App > * {
  border: 2px solid #e5df97;
  border-radius: 5px;
  background-color: #fff5c6;
  padding: 1em;
  color: #775639;
}